<!--
 * @Author: QHGG
 * @Date: 2021-12-04 21:52:40
 * @LastEditTime: 2021-12-04 22:42:05
 * @LastEditors: QHGG
 * @Description: 
 * @FilePath: /ii/src/components/Info.vue
-->
<template>
    <div>
        {{infoid}}
    </div>
</template>

<script>
export default {
    name: 'Info',
    methods: {

    },
    data() {
        return {
            'infoid': 123 
        }
    },
    beforeMount() {
        console.log(this.$route.params.id)
        this.infoid = this.$route.params.id
    }
}
</script>