<!--
 * @Author: QHGG
 * @Date: 2021-12-04 21:35:00
 * @LastEditTime: 2021-12-04 21:37:58
 * @LastEditors: QHGG
 * @Description: rima
 * @FilePath: /ii/src/components/Login.vue
-->
<template>
<div>
    <el-button type="primary">login</el-button>
</div>
</template>
<style>
</style>
<script>
  export default {
    data() {
      return {
      };
    },
    methods: {
    }
  }
</script>