<!--
 * @Author: QHGG
 * @Date: 2021-12-04 19:54:30
 * @LastEditTime: 2021-12-04 21:04:18
 * @LastEditors: QHGG
 * @Description: 
 * @FilePath: /ii/src/App.vue
-->
<template>
  <div id="app">
    
    <div class="sider">
      <Index />

    </div>
    <div class="container">
      <router-view></router-view>
    </div>
     <!-- <router-view class="view"></router-view> -->
  </div>
</template>

<script>
import Index from './components/Index.vue'

export default {
  name: 'App',
  components: {
    Index
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
  position: absolute;
  height: 100%;
  width: 100%
}
.sider {
  position: absolute;
  left: 0;
  height: 100%;
  width: 15%;
}
.container {
  position: absolute;
  left: 15%;
  height: 100%;
  width: 85%;
}
</style>
